In [1]:
import numpy as nu
import sympy as sy
import pandas as pa
import matplotlib.pyplot as plt
import openpyxl as op

In [2]:
#Del primer punto calculamos el momento maximo:
Mmax = 1.93018636570717

In [3]:
#Perfiles para una seccion en T 

perfiles = pa.read_excel('T2.xlsx', usecols="B:E", nrows=10, skiprows=3, index_col='perfil')
perfiles

        h [mm]  b [mm]  t [mm]
perfil
1           25      50     5.0
2           30      60     5.5
3           35      70     6.0
4           40      80     7.0
5           50     100     8.5
6           55     115     9.0
7           60     120    10.0
8           70     140    11.5
9           80     160    13.0
10          90     180    15.0

# $1\.\  Tabla\$

In [4]:
#Se calcula el área, inercia centroidal alrededor del eje z, posición del eje neutro y esfuerzos en la fibra superior e inferior.

#Distancias 

h = perfiles.loc[1, 'h [mm]']
b = perfiles.loc[1, 'b [mm]']
t = perfiles.loc[1, 't [mm]']
h, b, t

(25, 50, 5.0)

In [5]:
#Área de la seccion transversal en mm2

A = (b * t) + ((h - t) * t)
A

350.0

In [6]:
#Centroide con respecto a y  ( Y TRAZO)

Y = ((((h - t) / 2) * ((h - t) * t)) + (((h - t) + (t / 2)) * (b * t))) / A
Y

18.928571428571427

In [7]:
#Inercia centroidal alrededeor del eje z en mm4

Iz = ((b * ((t) ** 3)) / 12) + ((t * ((h - t) ** 3)) / 12) + (((h - t) * t) * (((h - t) / 2) - Y) ** 2) + ((b * t) * (((h - t) + (t / 2)) - Y) ** 2)
Iz

15014.880952380952

In [8]:
#Esfuerzo en la fibra superios e inferior en MPa

##Y TRAZO es la distancia a la fibra inferior
#Eje neutro
Y
##Y2  es la distanacia a la fibra superior 
Y2 = h - Y

#Esfuerzo superior (Esf_sup)

Esf_sup = Mmax *10 ** 6 * Y2 / Iz
Esf_sup

780.4916126942771

In [9]:
#Esfuerzo superior (Esf_inf)

Esf_inf = - Mmax * 10 ** 6 * Y / Iz
Esf_inf

-2433.2973807527455

In [10]:
#El área para todos los perfiles (R1 = resultados)
R = perfiles
R['A [mm ^ 2]'] = (perfiles['b [mm]'] * perfiles['t [mm]']) + ((perfiles['h [mm]'] - perfiles['t [mm]']) * perfiles['t [mm]'])
R

        h [mm]  b [mm]  t [mm]  A [mm ^ 2]
perfil
1           25      50     5.0      350.00
2           30      60     5.5      464.75
3           35      70     6.0      594.00
4           40      80     7.0      791.00
5           50     100     8.5     1202.75
6           55     115     9.0     1449.00
7           60     120    10.0     1700.00
8           70     140    11.5     2282.75
9           80     160    13.0     2951.00
10          90     180    15.0     3825.00

In [11]:
# Se hace lo mismo con lo demas 

##Centroide (Y trazo)
                                                     
R['Y [mm]'] = ((((perfiles['h [mm]'] - perfiles['t [mm]']) / 2) * ((perfiles['h [mm]'] - perfiles['t [mm]']) * perfiles['t [mm]'])) + (((perfiles['h [mm]'] - perfiles['t [mm]']) + (perfiles['t [mm]'] / 2)) * (perfiles['b [mm]'] * perfiles['t [mm]']))) / perfiles['A [mm ^ 2]']
Y2 = perfiles['h [mm]'] - perfiles['Y [mm]']

In [12]:
##Inercia centroidal alrededor de z
R['Iz [mm ^ 4]'] = ((perfiles['b [mm]'] * ((perfiles['t [mm]']) ** 3)) / 12) + ((perfiles['t [mm]'] * ((perfiles['h [mm]'] - perfiles['t [mm]']) ** 3)) / 12) + (((perfiles['h [mm]'] - perfiles['t [mm]']) * perfiles['t [mm]']) * (((perfiles['h [mm]'] - perfiles['t [mm]']) / 2) - perfiles['Y [mm]']) ** 2) + ((perfiles['b [mm]'] * perfiles['t [mm]']) * (((perfiles['h [mm]'] - perfiles['t [mm]']) + (perfiles['t [mm]'] / 2)) - perfiles['Y [mm]']) ** 2)

In [13]:
#Esfuerzo inferior y superior 
R['Esf_sup [MPa]'] = Mmax * 10 ** 6 * (perfiles['h [mm]'] - perfiles['Y [mm]']) / perfiles['Iz [mm ^ 4]']

In [14]:
R['Esf_inf [MPa]'] = - Mmax * 10 ** 6 * perfiles['Y [mm]'] / perfiles['Iz [mm ^ 4]']

In [15]:
R

,h [mm],b [mm],t [mm],A [mm ^ 2],Y [mm],Iz [mm ^ 4],Esf_sup [MPa],Esf_inf [MPa]
perfil,,,,,,,,
1,25,50,5.0,350.00,18.928571,1.501488e+04,780.491613,-2433.297381
2,30,60,5.5,464.75,22.900888,2.910029e+04,470.875396,-1518.987707
3,35,70,6.0,594.00,26.873737,5.113253e+04,306.755821,-1014.448555
4,40,80,7.0,791.00,30.659292,8.866585e+04,203.339933,-667.428894
5,50,100,8.5,1202.75,38.417845,2.115530e+05,105.674323,-350.520222
6,55,115,9.0,1449.00,42.642857,3.036222e+05,78.556806,-271.089094
7,60,120,10.0,1700.00,46.176471,4.318137e+05,61.790505,-206.406579
8,70,140,11.5,2282.75,53.935139,7.908459e+05,39.208874,-131.637367
9,80,160,13.0,2951.00,61.693833,1.337393e+06,26.420292,-89.039340
10,90,180,15.0,3825.00,69.264706,2.186057e+06,18.308298,-61.157505

# $2 \ .\ Perfil \ óptimo$

In [16]:
Filtro = R['Esf_sup [MPa]'] <= 250
R[Filtro]

,h [mm],b [mm],t [mm],A [mm ^ 2],Y [mm],Iz [mm ^ 4],Esf_sup [MPa],Esf_inf [MPa]
perfil,,,,,,,,
4,40,80,7.0,791.00,30.659292,8.866585e+04,203.339933,-667.428894
5,50,100,8.5,1202.75,38.417845,2.115530e+05,105.674323,-350.520222
6,55,115,9.0,1449.00,42.642857,3.036222e+05,78.556806,-271.089094
7,60,120,10.0,1700.00,46.176471,4.318137e+05,61.790505,-206.406579
8,70,140,11.5,2282.75,53.935139,7.908459e+05,39.208874,-131.637367
9,80,160,13.0,2951.00,61.693833,1.337393e+06,26.420292,-89.039340
10,90,180,15.0,3825.00,69.264706,2.186057e+06,18.308298,-61.157505

In [17]:
Filtro2 = R['Esf_inf [MPa]'] <= 250
R[Filtro2]

,h [mm],b [mm],t [mm],A [mm ^ 2],Y [mm],Iz [mm ^ 4],Esf_sup [MPa],Esf_inf [MPa]
perfil,,,,,,,,
1,25,50,5.0,350.00,18.928571,1.501488e+04,780.491613,-2433.297381
2,30,60,5.5,464.75,22.900888,2.910029e+04,470.875396,-1518.987707
3,35,70,6.0,594.00,26.873737,5.113253e+04,306.755821,-1014.448555
4,40,80,7.0,791.00,30.659292,8.866585e+04,203.339933,-667.428894
5,50,100,8.5,1202.75,38.417845,2.115530e+05,105.674323,-350.520222
6,55,115,9.0,1449.00,42.642857,3.036222e+05,78.556806,-271.089094
7,60,120,10.0,1700.00,46.176471,4.318137e+05,61.790505,-206.406579
8,70,140,11.5,2282.75,53.935139,7.908459e+05,39.208874,-131.637367
9,80,160,13.0,2951.00,61.693833,1.337393e+06,26.420292,-89.039340
10,90,180,15.0,3825.00,69.264706,2.186057e+06,18.308298,-61.157505

In [18]:
#Área minima 

R.loc[Filtro, 'A [mm ^ 2]']

perfil
4      791.00
5     1202.75
6     1449.00
7     1700.00
8     2282.75
9     2951.00
10    3825.00
Name: A [mm ^ 2], dtype: float64

In [19]:
#Una vez se saquen los valores de lals áreas se calcula el area minima (Amin)

Amin = R.loc[Filtro, 'A [mm ^ 2]'].min()
Amin

791.0

In [20]:
#Indice de Amin (indice:ind)

ind = R.loc[Filtro, 'A [mm ^ 2]'].idxmin()
ind

4

In [39]:
#Perfil óptimo (perfil optimo : P_opt)

P_opt = perfiles.loc[[ind], :'A [mm ^ 2]']
P_opt

        h [mm]  b [mm]  t [mm]  A [mm ^ 2]
perfil
4           40      80     7.0       791.0

In [40]:
P_opt1 = perfiles.loc[[ind], 'Esf_sup [MPa]']
P_opt1

perfil
4    203.339933
Name: Esf_sup [MPa], dtype: float64

In [43]:
P_opt2 = perfiles.loc[[ind], 'Esf_inf [MPa]']
P_opt2

perfil
4   -667.428894
Name: Esf_inf [MPa], dtype: float64

In [36]:
#Exportar los datos solicitados a el documento de excel 

with pa.ExcelWriter('T2.xlsx', mode='a', if_sheet_exists = 'overlay', engine='openpyxl') as writer:  

    book = op.load_workbook('T2.xlsx')
 
    writer.book = book
    writer.sheets = dict((ws.title, ws) for ws in book.worksheets)
    R.to_excel(writer, startrow=3, startcol=6, sheet_name='Perfiles')

In [41]:
with pa.ExcelWriter('T2.xlsx', mode='a', if_sheet_exists = 'overlay', engine='openpyxl') as writer:  

    book = op.load_workbook('T2.xlsx')
 
    writer.book = book
    writer.sheets = dict((ws.title, ws) for ws in book.worksheets)
    P_opt.to_excel(writer, startrow=18, startcol=6, sheet_name='Perfiles', index=None)

In [45]:
with pa.ExcelWriter('T2.xlsx', mode='a', if_sheet_exists = 'overlay', engine='openpyxl') as writer:  

    book = op.load_workbook('T2.xlsx')
 
    writer.book = book
    writer.sheets = dict((ws.title, ws) for ws in book.worksheets)
    P_opt1.to_excel(writer, startrow=18, startcol=10, sheet_name='Perfiles', index=None)

In [46]:
with pa.ExcelWriter('T2.xlsx', mode='a', if_sheet_exists = 'overlay', engine='openpyxl') as writer:  

    book = op.load_workbook('T2.xlsx')
 
    writer.book = book
    writer.sheets = dict((ws.title, ws) for ws in book.worksheets)
    P_opt2.to_excel(writer, startrow=18, startcol=11, sheet_name='Perfiles', index=None)